<p-card class="text-center" header="Connexion">
    <div class="col-12 ">
        <div class="p-inputgroup mt-2">
            <span class="p-inputgroup-addon"><i class="pi pi-user"></i></span>
            <input type="text" pInputText placeholder="Matricule">         
        </div>
        <div class="p-inputgroup mt-4">
            <span class="p-inputgroup-addon"><i class="pi pi-lock"></i></span>
            <input type="password" pInputText placeholder="Mot de passe">         
        </div>
        <button pButton class="mt-4" label="Connexion" (onClick)="login()"></button>
    </div>
</p-card>