<div class="container">
    <div class="d-flex justify-content-center">
        <h2 class="text-center">Bienvenue {{currentUser.firstName}} {{currentUser.lastName}}</h2>
    </div>
    <div class="row">
        <div class="col-6 p-4">
            <p-card header="Ajouter des cours a un programme">
                Vous pouvez déposer une liste de cours a ajouter dans un programme.
                <ng-template pTemplate="footer">
                <button routerLink="addClasses" pButton type="button" label="Ajouter" class="p-button-outlined mx-2"></button>
                </ng-template>
            </p-card>
        </div>
        <div class="col-6 p-4">
            <p-card header="Assigner des enseignants aux cours">
                Vous pouvez assigner des enseignants aux cours d'un programme.
                <ng-template pTemplate="footer">
                    <p-button routerLink="assignClasses" label="Assigner"></p-button>
                </ng-template>
            </p-card>
        </div>
    </div>    
    <div class="row">
        <div class="col-6 p-4">
            <p-card header="Ajouter des élèves">
                Vous pouvez déposer une liste d'élèves a ajouter avec leur programmes.
                <ng-template pTemplate="footer">
                <button routerLink="addStudents" pButton type="button" label="Ajouter" class="p-button-secondary mx-2"></button>
                </ng-template>
            </p-card>
        </div>
    </div>    
</div>