<div class="container">
    <h4 class="text-start">Bienvenue {{user.firstName + " " + user.lastName}}</h4>
    <h1 class="text-center">Dashboard</h1>
    <div *ngIf="!hasEstablishments()">
        <h3 class="text-center text-danger">Vous n'avez aucun établissment configuré</h3>
    </div>
    <div *ngIf="hasEstablishments()" class="row d-flex justify-content-center">
        <p-card *ngFor="let establishment of getEstablishments()" [header]="establishment.name"
            subheader="Établissement scolaire" class="col-xl-6 p-4">
            <div class="row">
                <div class="col-12">
                    <strong class="d-inline">Adresse:</strong>
                    <p class="d-inline"> {{establishment.address}}</p>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <strong class="d-inline">Numéro de telephone:</strong>
                    <p class="d-inline"> {{getPhone(establishment.phone)}}</p>
                </div>
            </div>
            <div class="row d-flex justify-content-between">
                <div class="col-xl-6">
                    <strong class="d-inline">Jours ouverts:</strong>
                    <p class="d-inline"> {{getOpenDays(establishment.daysPerWeek)}}</p>
                </div>
                <div class="col-xl-6 text-xl-end">
                    <strong class="d-inline">Heures d'ouvertures:</strong>
                    <p class="d-inline"> {{getOpenHours(establishment.openTime,establishment.closeTime)}}</p>
                </div>
            </div>
            <ng-template pTemplate="footer">
                <p-button [routerLink]="'establishment/' + establishment.id" label="Gérer"
                 icon="pi pi-wrench" iconPos="right"></p-button>
            </ng-template>
        </p-card>
    </div>
    <div class="d-flex justify-content-center mt-4">
            <p-button label="Ajouter un établissement" routerLink="/configure"
                class="p-button-outline p-button-rounded p-button-success" ></p-button>
    </div>
</div>