<div class="container">
    <div *ngIf="!isLoggedIn()">
        <p-tabMenu [model]="items" [activeItem]="activeItem" (activeItemChange)="changeActiveLogin($event)"></p-tabMenu>
        <app-login></app-login>
    </div>
    <div *ngIf="isLoggedIn() && currentUserRole() != undefined">
        <app-teacher *ngIf="currentUserRole() == Roles.Teacher"></app-teacher>
        <app-admin *ngIf="currentUserRole() == Roles.Admin"></app-admin>
        <app-manager *ngIf="currentUserRole() == Roles.Manager"></app-manager>
        <app-student *ngIf="currentUserRole() == Roles.Student"></app-student>
    </div>
</div>
